<nav>
	<ul>
    <li class="blurry-text"><a routerLink="/home-page">Home</a></li>
    <li class="blurry-text"><a routerLink="/about">About</a></li>
    <li class="blurry-text"><a routerLink="/merch">Merch</a></li>
    <li class="blurry-text"><a routerLink="/tour">Tour</a></li>
    <li class="blurry-text"><a routerLink="/contact">Contact</a></li>
	</ul>
</nav>
<footer>
	<ul>
		<li><a href="https://facebook.com/somberband"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
		<li><a href="https://somber.bandcamp.com/"><i class="fa fa-bandcamp fa-2x" aria-hidden="true"></i></a></li>
	</ul>
</footer>
