<nav>
	<ul>
    <li class="blurry-text"><a routerLink="home-page">Home</a></li>
    <li class="blurry-text"><a routerLink="about">About</a></li>
    <li class="blurry-text"><a routerLink="merch">Merch</a></li>
    <li class="blurry-text"><a routerLink="tour">Tour</a></li>
    <li class="blurry-text"><a routerLink="contact">Contact</a></li>
	</ul>
</nav>
<h1 class="title">Contact</h1>
<form method="POST" action="http://formspree.io/somber@gmail.com">
  <input type="name" name="name" placeholder="Your name">
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" placeholder="Your message"></textarea>
  <button type="submit" class="send">Send</button>
</form>
<footer>
	<ul>
		<li><a href="https://facebook.com/somberband"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
		<li><a href="https://somber.bandcamp.com/"><i class="fa fa-bandcamp fa-2x" aria-hidden="true"></i></a></li>
	</ul>
</footer>
