*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #343034;
}

h1 {
  text-shadow: 0 0 3px white;
  color: transparent;
}
a:hover {
  color: #5D6280;
}
/*Nav*/
nav {
  display: flex;
  justify-content: center;
  background-image: url('../../images/coveredbanner.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 24vh;
  & ul {
    display: flex;
    list-style: none;
    margin-top: 2em;
    & a {
      padding: 1rem 2rem;
    }
  }
}

a {
  text-decoration: none;
  color: #fff;
}
.blurry-text {
   text-shadow: 0 0 8px white;
   color: transparent;
}
