.splash {
  background-image: url('../../images/night-divorce.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/*Button Styling*/
button {
  margin-top: 15em;
  background: none;
  text-transform: uppercase;
  border: 5px solid #343034;
  border-radius: 5px;
  padding: 1em 6em;
  -webkit-filter: blur(2px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
button:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}
