<nav>
	<ul>
    <li class="blurry-text"><a routerLink="home-page">Home</a></li>
    <li class="blurry-text"><a routerLink="about">About</a></li>
    <li class="blurry-text"><a routerLink="merch">Merch</a></li>
    <li class="blurry-text"><a routerLink="tour">Tour</a></li>
    <li class="blurry-text"><a routerLink="contact">Contact</a></li>
	</ul>
</nav>
<div class="out-now">
  <a routerLink="merch"><h1>Out Now</h1></a>
  <iframe style="border: 0; width: 450px; height: 450px;" src="https://bandcamp.com/EmbeddedPlayer/album=1911611589/size=large/bgcol=ffffff/linkcol=de270f/minimal=true/transparent=true/" seamless><a href="http://somber.bandcamp.com/album/night-divorce">Night Divorce by Somber</a></iframe>
  <h1>NIGHT DIVORCE//SOFT STALE(SINGLE)</h1>
</div>
<footer>
	<ul>
		<li><a href="https://facebook.com/somberband"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
		<li><a href="https://somber.bandcamp.com/"><i class="fa fa-bandcamp fa-2x" aria-hidden="true"></i></a></li>
	</ul>
</footer>
