<nav>
	<ul>
    <li class="blurry-text"><a routerLink="home-page">Home</a></li>
    <li class="blurry-text"><a routerLink="about">About</a></li>
    <li class="blurry-text"><a routerLink="merch">Merch</a></li>
    <li class="blurry-text"><a routerLink="tour">Tour</a></li>
    <li class="blurry-text"><a routerLink="contact">Contact</a></li>
	</ul>
</nav>
<div class="out-now">
  <a routerLink="merch"><h1>Out Now</h1></a>
  <img src="src/images/out-now.png" alt="">
  <h1>NIGHT DIVORCE//SOFT STALE(SINGLE)</h1>
</div>
